/* 
check_contents.htmlのCSS
*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

h2 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
}

section {
    display: flex;
    justify-content: space-between;
}
.purchaser {
    width: 700px;
    background-color: aqua;
}
.purchaser h6 {
    background-color: #F2F2F2;
}