/* 
check_payment.htmlのcss
*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

h2 {
    margin-bottom: 100px;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
}

.payment {
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin-bottom: 30px;
}
.payment_input {
    background-color: #F2F2F2;
}
.payment_input th {
    border: solid 1px #2E2E2E;
    padding: 4px;
}
.payment_input_radio {
    width: 200px;
}
.payment_input_detail {
    width: 500px;
    line-height: 24px;
}
.payment_input_detail form {
    width: 520px;
    margin-top: 50px;
}
.payment_input_detail input {
    width: 90%;
    height: 30px;
}
.payment_input_detail form p {
    margin-bottom: 20px;
    font-size: 0.75rem;
}
.date input {
    width: 20%;
}
.code {
    display: flex;
    flex-direction: column;
}
.code input {
    width: 20%;
}
.code img {
    width: 200px;
}

.cart table {
    display: flex;
    width: 400px;
    margin-bottom: 60px;
    border: solid 2px #2E2E2E;
    background-color: #F8F7EC;
}
.cart tr {
    display: flex;
}
.cart_img {
    width: 33%;
    padding: 4px;
}
.cart_img img {
    width: 99%;
}
.cart_name {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-left: solid 1px #2E2E2E;
}
.cart_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 33%;
    border-left: solid 1px #2E2E2E;
}
.total_price {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30px;
    border-top: solid 1px #2E2E2E;
}
.cart button {
    display: flex;
    margin: 0 auto;
    background-color: #2E2E2E;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
}

.next {
    display: flex;
    margin: 0 auto;
    margin-bottom: 120px;
    background-color: #2E2E2E;
    color: white;
    padding: 10px 50px;
    border-radius: 10px;
}