/* 
全ページ共通(ヘッダー・フッター等)のcss
*/

@charset "utf-8";
body {
    width: 100%;
    font-size: 100%; /* =16px */
    font-family: ryo-gothic-plusn, sans-serif;
    font-weight: 400;
    font-style: normal;
    color: #000000;
}
a {
    text-decoration: none;
    color: #000000;
}

img {
    object-fit: cover;
}

/* ヘッダー*/
.header {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 30px;
}
.header-logo p {
    margin-bottom: 14px;
}
.header-logo img {
    width: 200px;
}
.header-search {
    display: flex;
    align-items: flex-end;
}
.header-search-input {
    border: solid 1px #B8B8B8;
}
.header-search-btn {
    background-color: #2E2E2E;
    color: white;
}
.header-nav {
    display: flex;
    align-items: flex-end;
}
.header-nav-ul {
    display: flex;
}
.header-nav-ul li {
    padding: 4px 40px;
    transition: 0.2s;
}
.header-nav-ul li:hover {
    color: #D9333F;
}
.border-right {
    border-right: solid 1px #707070;
}

.hamburger-menu {
    display: none;
}

/* フッター */
.footer {
    padding: 36px 0;
    background-color: #2E2E2E;
    color: white;
    text-align: center;
}
.footer p {
    font-size: 1rem;
    margin-bottom: 10px;
}
.footer img {
    width: 220px;
}

/* 商品一覧 */
.list-table {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-item {
    width: 300px;
    padding-bottom: 54px;
}
.list-item img {
    width: 300px;
    height: 225px;
}
.list-item-name {
    width: fit-content;
    margin: 0 auto;
    padding-top: 10px;
    font-size: 0.875rem;
}
.list-item-price {
    width: fit-content;
    margin: 0 auto;
    padding-top: 6px;
    font-size: 1.125rem;
}
/* 取り扱い一覧ページへ */
.new-toAll {
    width: fit-content;
    margin: 0 auto;
    border-radius: 10px;
    background-color: #2E2E2E;
    transition: 0.2s;
}
.new-toAll p {
    padding: 16px 40px;
    color: white;
    font-size:  0.875rem;
}
.new-toAll:hover {
    background-color: #D9333F;
}

/* カートを見る(ex.topページのボタン) */
.cart_btn {
    position: fixed;
    right: 20px;
    bottom: 20px;
}
.cart_btn img {
    width: 100px;
}

/* 決済ページ パンくずリスト */
.breadcrubs {
    width: 100%;
    text-align: center;
}
.breadcrubs img {
    width: 700px;
    margin-bottom: 50px;
}


@media screen and (max-width:520px) {
    .header {
        width: 100vw;
        padding-top: 20px;
    }
    .header-logo {
        margin-left: 20px;
    }
    .header-logo img {
        width: 100px;
    }
    .header-logo p {
        font-size: 0.75rem;
        margin-bottom: 4px;
    }

    .header-search {
        display: none;
    }
    .header-nav {
        display: none;
    }

    .hamburger-menu {
        display: block;
    }
    .menu-btn {
        position: fixed;
        top: 10px;
        right: 0;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 1px;
        width: 25px;
        border-radius: 3px;
        background-color: #000000;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    #menu-btn-check:checked ~ .menu-btn span {
        background-color: rgba(138, 102, 102, 0);/*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked ~ .menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked ~ .menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check:checked ~ .menu-content {
        left: 0;/*メニューを画面内へ*/
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;/*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #ffffff;
        transition: all 0.5s;/*アニメーション設定*/
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #2E2E2E;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color:#2E2E2E;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #2E2E2E;
        border-right: solid 2px #2E2E2E;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }

    /* カートを見る(ex.topページのボタン) */
    .cart_btn {
        position: fixed;
        right: 10px;
        bottom: 10px;
    }
    .cart_btn img {
        width: 80px;
    }

    /* 商品一覧 */
.list-table {
    display: block;
}
.list-item {
    margin:  0 auto;
    width: 300px;
    padding-bottom: 54px;
}
}