/* 
contact.htmlのcss
*/
.contact-title {
    margin: 100px 0 50px 0;
    text-align: center;
    font-size: 1.875rem;
    font-weight: 700;
}
.contact-form {
   display: flex;
   flex-direction: column;
   align-items: center;
  
}

.contact-name {
    display: block;
    font-size: 1rem;
    font-weight: 700;
    /* background-color: aqua; */
}
.contact-name-row {
    display: flex;
    margin: 10px 0 40px 0;
    width: 91.5vw;
    max-width: 842px;
    /* background-color: aqua; */
}
.contact-name-row input {
    display: block;
    width: 90vw;
    max-width: 400px;
    padding: 14px 0 14px 10px;
    font-weight: 700;
    border-radius: 4px;
    outline:none;
    /* border-color: #DBDAD7; */
    border-width: 1px;
}
/* .block {
    width: 30px;
} */
.contact-last-name {
    margin: 0 15px 0 0;
}
.contact-first-name {
    margin: 0 0 0 15px;
}
.contact-email {
    display: block;
    margin: 0 0 40px 0;
    font-size: 1rem;
    font-weight: 700;
    /* background-color: yellow; */
}
.contact-email input {
    display: block;
    width: 90vw;
    max-width: 830px;
    margin: 10px 0 0 0;
    padding: 17px 0 17px 10px;
    font-weight: 700;
    border-radius: 4px;
    /* border-color: #DBDAD7; */
    border-width: 1px;
    outline:none;
}

.contact-subject {
    display: block;
    margin: 0 0 40px 0;
    font-size: 1rem;
    font-weight: 700;
}
.contact-subject input {
    display: block;
    margin: 10px 0 0 0;
    width: 90vw;
    max-width: 830px;
    padding: 17px 0 17px 10px;
    font-weight: 700;
    border-radius: 4px;
    border-width: 1px;
    /* border-color: #DBDAD7; */
    outline:none;
}

.contact-main-message {
    display: block;
    font-size: 1rem;
    font-weight: 700;
}
.contact-main-message textarea {
    display: block;
    margin: 10px 0 50px 0;
    width: 90vw;
    max-width: 830px;
    height:200px;
    padding: 17px 0 17px 10px;
    font-weight: 700;
    border-radius: 4px;
    /* border-color: #DBDAD7; */
    resize: none;
    outline:none;
}

::placeholder {
    color: #DBDAD7;
}

button {
    width: 250px;
    height: 60px;
    margin: 0 0 100px 0;
    font-size: 1rem;
    font-weight: 700;
    color: #FFFF;
    border-radius: 10px;
    background-color: #2E2E2E;
    border-color: #2E2E2E;
    cursor: pointer;
}