/* 
商品一覧ページのCSS
*/

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding-top: 100px;
}

.title {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 52px;
}
.title h2 {
    font-size: 1.625rem;
}
.title h3 {
    width: fit-content;
    margin: 0 auto;
    padding-top: 12px;
    font-size: 1.25rem;
}

/* 検索 */
.search {
    width: 800px;
    margin: 0 auto;
    padding: 30px 20px;
    background-color: #F4F0D1;
}
.search p {
    display: flex;
    justify-content: space-between;
}
.seatch_words {
    background-color: white;
    padding: 13px 20px;
    border-radius: 20px;
    cursor: pointer;
}
.seatch_words input {
    margin-right: 20px;
}
.search_text {
    margin: 30px 0 0 50px;
    display: flex;
    justify-content: space-between;
}
.search_text_box {
    width: 550px;
    padding: 12px 20px;
    background-color: #EEEEEE;
    border: none;
}
.search_text_button {
    width: 120px;
    padding: 13px 20px;
    color: white;
    font-size: 1rem;
    background-color: #D9333F;
    border: none;
    border-radius: 20px;
    transition: 0.2s;
}
.search_text_button:hover {
    background-color: #ffffff;
    color: #D9333F;
    cursor: pointer;
}

/* ソート */
.sort {
    display: flex;
    justify-content: space-between;
    margin-top: 54px;
}
select {
    -webkit-appearance: none;
    appearance: none; /* デフォルトの矢印を非表示 */
}
select::-ms-expand {
    display: none; /* デフォルトの矢印を非表示(IE用) */
}
.sort_table {
    border: 1px solid #B8B8B8;
    border-radius: 20px;
    padding: 13px 20px;
}
.sort_container {
    position: relative;
    width: 100px;
  }
.sort_container::before {
    border-bottom: 2px solid #D9333F;
    border-right: 2px solid #D9333F;
    transform: rotate(45deg);
    content: "";
    position: absolute;
    right: 14px;
    top: 35%;
    width: 6px;
    height: 6px;
}
.pagenation {
    display: flex;
    margin-bottom: 54px;
}
.pagenation li {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 2px;
    border: 1px solid #B8B8B8;
    border-radius: 50px;
}

@media screen and (max-width:520px) {
    .wrapper {
        padding-top: 50px;
    }
    .title {
        padding-bottom: 32px;
    }

    .search {
        width: 98vw;
        padding: 20px 6px;
    }
    .search p {
        flex-wrap: wrap;
        justify-content: center;
    }
    .seatch_words {
        margin: 10px;
        padding: 8px 10px;
    }
    .search_text {
        width: 90vw;
        margin: 0 auto;
        padding-top: 20px;
    }
    .search_text_box {
        width: 250px;
    }
}